<?xml version="1.0"?>
<!-- Thin wrapper: reuse canonical VRX WAM-V model and only add ZED2 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wamv_with_zed2">
  <xacro:include filename="$(find wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find galaxsea)/sensors/urdf/zed2_camera.xacro"/>

  <!-- Attach ZED2 into the same namespaced model tree as the canonical WAM-V -->
  <xacro:zed2_camera parent_link="$(arg namespace)/base_link" xyz="1.0 0 1.7" rpy="0 0 0" namespace="$(arg namespace)" />
</robot>
